<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        table{
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td{
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Team scores</h1>
    <div id="buttons">
        <button id="button1">3 points</button>
        <button id="button2">2 points</button>
        <button id="button3">1 point</button>
    </div>
    <table id="scores-table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Rank</th>
                <th>Score</th>
            </tr>
        </thead>
    </table>
</body>
</html>